@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

// font-family: 'Merriweather', serif;

*{
    margin: 0;
    padding: 0;
    font-family: 'Merriweather',serif;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}